<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <div class='Header_Identite'>
          <p class='Header_Nom'> {{ Etudiant?.Nom }}  </p>
          <p class='Header_Prenom'> {{ Etudiant?.Prenom }}   
            <img class='Avatar' src="../../assets/img/personas/user-sean.png" />
            <ion-icon name="pulse" class='Activity'></ion-icon>
            <ion-icon name="mail-open" class='Message'></ion-icon> 
          </p>
          <p class='Header_Formation'> {{ Etudiant?.Formation }} </p>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <img class='Planning_Img' src="../../assets/img/Planning_Ico.svg" />
          <ion-card-subtitle>Votre Planning :</ion-card-subtitle>
          <ion-card-title>Bonjour {{ Etudiant?.Prenom }} retour au centre de formation le 8 mars</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>Formation : 17 Juin -  Ionic</p>
          <p>Evenement IMIE : 17 fevrier - Hyblab  </p>
          <p>Evenement BDE : 17 juillet - Barbecue Party !</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <img class='Planning_Img' src="../../assets/img/Trombi_Ico.svg" />
            <ion-card-subtitle>Evenement & Communication BDE :</ion-card-subtitle>
            <ion-card-title>Evenement : Barbecue Party !</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Barbecue au lac de maine le 17 juillet Venez nombreux ! 
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <img class='Planning_Img' src="../../assets/img/Forum_Ico.svg" />
              <ion-card-subtitle>Forum</ion-card-subtitle>
              <ion-card-title>Les dernieres Discussions :</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                <ion-list>
                    <ion-item>
                      <ion-label></ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-avatar slot="start" class="hydrated"><img src="../../assets/img/personas/user-4.png" /></ion-avatar> 
                      <ion-label> 
                        <h2>Discussion Dev03</h2>
                        <h3>J'ai un soucis avec Angular helpp !</h3> 
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-avatar slot="start" class="hydrated"><img src="../../assets/img/personas/user-sean.png" /></ion-avatar> 
                      <ion-label>
                        <h2>Discussion Ops </h2>
                        <h3>Annonce vente Hardware</h3>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-avatar slot="start" class="hydrated"><img src="../../assets/img/personas/user-ricky.png" /></ion-avatar> 
                      <ion-label>
                        <h2> Discussion ItStart </h2>
                        <h3> Entraide projet groupe</h3>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-avatar slot="start" class="hydrated"><img src="../../assets/img/personas/user-6.png" /></ion-avatar> 
                      <ion-label>
                        <h2> Discussion FUN </h2>
                        <h3> BIEEEEREEE !!!</h3>
                      </ion-label>
                    </ion-item>
                  </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-card-header>
                  <img class='Imie_Img' src="../../assets/img/Imie_Ico.svg" />
                <ion-card-subtitle>Communication IMIE</ion-card-subtitle>
                <ion-card-title>Evenement Hyblab Angers</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </ion-card-content>
            </ion-card>
</ion-content>
